In [1]:
import pandas as pd
import numpy as np
from Embedding_Similarity import *

In [2]:
df=pd.read_csv('./data_processed/app_data.csv')
df.head()

,Unnamed: 0,noticeNumber,orderObject,71521000-6,98390000-3,09133000-0,45210000-2,31310000-2,50112000-3,45442300-0,...,33162000-3,15613311-1,66511000-5,34928400-2,37453300-1,39831500-1,90511300-5,90611000-3,45223500-1,30125100-2
0,9,2023/BZP 00044253/01,Usługi cateringowe i restauracyjne na potrzeby...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,12,2023/BZP 00046349/01,CATERING DLA UCZESTNIKÓW PROJEKTU,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20,2023/BZP 00049777/01,Wykonanie usługi prania wodnego i czyszczenia ...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,38,2023/BZP 00054649/01,Zapewnienie i prowadzenie Otwartych Punktów In...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,48,2023/BZP 00056786/01,"Konserwacja, naprawa i wymiana elementów insta...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df.shape

(3008, 3135)

In [4]:
model = SentenceTransformer('paraphrase-multilingual-MiniLM-L12-v2')
embeddings = createEmbeddings(model, df)
save_embeddings(embeddings)

100%|██████████| 3008/3008 [00:06<00:00, 444.61it/s]

In [5]:
query = "zimowe drogi i tym podobne?! Dodatkowe slowa"
embeddings = load_embeddings()
best_idx = find_most_similar(model, embeddings, query)
ans = df.iloc[best_idx]["orderObject"]
ans

'Zimowe utrzymanie dróg gminnych na terenie Gminy Godziesze Wielkie w 2023 roku'