In [1]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('data_processed/subset10k_oneHot.csv')
df2 = pd.read_csv('data_processed/subsetWyniki10_oneHot.csv')

In [10]:
merged_df = pd.merge(df1, df2, on='tenderId', how='inner')
merged_df.head()

,Unnamed: 0.1_x,Unnamed: 0_x,orderType,isTenderAmountBelowEU_x,orderObject_x,tenderId,contractors_x,objectId,71521000-6_x,98390000-3_x,...,6.3.),8.4.),4.3.),4.5.1.),4.3.1),5.2.1.),6.4.),6.2.),4.5.5.),7.4.1.)
0,0,0,Delivery,True,Dostawa gazów medycznych wraz z dzierżawą butl...,ocds-148610-65bc0cb3-86a2-11ed-94da-6ae0fe5e7159,NaN,08daec88-a2be-9d2b-100a-0600107fa4a5,0,0,...,875127.64,0.0,0.00,0.0,0.00,0.0,875127.64,875127.64,0.00,0.0
1,1,1,Delivery,True,1-P-23 Akcesoria do urządzeń medycznych,ocds-148610-cd97182f-8a63-11ed-b4ea-f64d350121d2,NaN,08daec89-e42d-79e6-e8e1-8400116e04c3,0,0,...,192952.95,0.0,0.00,0.0,0.00,0.0,192952.95,192952.95,17080.76,0.0
2,2,2,Delivery,True,Sukcesywna dostawa drobnego sprzętu laboratory...,ocds-148610-f8a2c4f0-8a65-11ed-b4ea-f64d350121d2,NaN,08daec8b-e418-1fcc-100a-0600107fa4af,0,0,...,42074.08,0.0,229044.28,0.0,103448.38,0.0,42074.08,42074.08,37393.50,0.0
3,3,3,Delivery,True,2-P-23 Leki i inne produkty lecznicze,ocds-148610-3ee37822-8a68-11ed-94da-6ae0fe5e7159,NaN,08daec8e-7fa7-7790-e8e1-8400116e04d8,0,0,...,134366.04,0.0,0.00,0.0,0.00,0.0,105127.20,105127.20,27313.40,0.0
4,4,4,Delivery,True,Sukcesywna dostawa podstawowych odczynników ch...,ocds-148610-c61d386a-8a6f-11ed-94da-6ae0fe5e7159,NaN,08daec95-45a7-1ee8-100a-0600107fa52d,0,0,...,18798.19,0.0,229044.28,0.0,125595.90,0.0,13367.64,13367.64,12530.89,0.0

In [14]:
merged_df[["4.3.10.)"]]

      4.3.10.)
0            0
1            0
2            0
3            0
4            0
...        ...
8144         0
8145         0
8146         0
8147         0
8148         0

[8149 rows x 1 columns]